@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.transition-link {
		@apply transition-colors duration-[0.3s] ease-linear;
	}
	.promo-slide {
		@apply w-full lg:w-[7.4rem] sm:w-[6.4rem] lg:h-[6.6rem] sm:h-[5.6rem] h-[3.8rem] ml-auto size-full relative;
	}
	.label-before {
		@apply absolute text-light-main sm:px-16 sm:py-12 px-8 py-4 rounded-sm  sm:-left-[.4rem] left-14 sm:top-[1.2rem] top-24  z-20 h5;
	}
	.label-after {
		@apply absolute px-8 py-4 sm:px-16 sm:py-12 rounded-sm  sm:right-[.8rem] right-[.5rem] sm:top-[2.2rem] top-[.65rem] h5 z-20 h5;
	}
	.feature-card {
		@apply bg-dark-gray rounded-sm px-12 py-24 flex items-start gap-8 lg:gap-16;
	}

	.feature-number {
		@apply -rotate-90 h2 text-outline font-bold leading-none;
	}
	.product-card {
		@apply bg-dark-gray p-16 rounded-md overflow-hidden box-shadow flex flex-col justify-between h-full min-h-[5.02rem] transition-transform duration-300 cursor-pointer;
		@apply lg:hover:scale-[.98] active:scale-[.95];
	}

	.product-card:hover,
	.product-card:active {
		@apply inner-shadow;
	}
}
@layer utilities {
	.ellipse {
		position: absolute;
		border-radius: 100%;
		background: #000;
		-webkit-backdrop-filter: blur(10px);
	}
	.ellipse-7{
		filter: blur(.7rem);
	}
	.ellipse-17{
		filter: blur(1.7rem);
	}
	.text-outline {
		color: transparent;
		-webkit-text-stroke: 1px var(--main);
	}
	.box-shadow {
		box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.15);
	}
	.inner-shadow {
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
	}
}
