.burger {
	align-items: center;
	justify-content: center;
	min-height: 0.14rem;
	padding-left: 0;
	padding-right: 0;
	background-color: transparent;
	color: inherit;
	cursor: pointer;
	transition: 0.3s ease;
	z-index: 50;
	&:focus {
		outline: none;
	}

	.line {
		display: block;
		position: relative;
		width: 0.12rem;
		height: 2px;
		border-radius: 2px;
		background-color: var(--white);
		transition: 0.3s;
		transform: translatex(-0.02rem);

		&:before,
		&:after {
			content: '';
			border-radius: 2px;
			display: block;
			position: absolute;
			left: 0;
			width: 0.16rem;
			height: 100%;
			background-color: var(--white);
			transition: 0.3s;
		}

		&:before {
			transform: translate(0, -0.05rem);
		}

		&:after {
			transform: translate(0, 0.05rem);
			width: 0.08rem;
		}
	}

	&.active {
		.line {
			background-color: transparent;
			transform: translate(0);
			width: 0.16rem;

			&:before {
				transform: rotate(45deg);
				background-color: var(--white);
				width: 100%;
			}

			&:after {
				transform: rotate(-45deg);
				background-color: var(--white);
				width: 100%;
			}
		}
	}

	@media all and (max-width: 600px) {
		display: inline-flex;
	}
}
