.header {
	position: fixed;

	background: transparent;
	transition: transform .3s linear, background-color .3s linear;
	@media all and (max-width: 640px) {
		background: var(--black);
	}
}
.header-hidden {
	transform: translateY(-100%);
}
.fixed {
	background: rgba(52, 52, 52, 0.95);
}
