.header {
	position: fixed;
	// background: rgba(52, 52, 52, 0.95);
	height: var(--header-height);
	@media all and (max-width: 640px) {
		background: var(--black);
	}
}
.header-hidden {
	transition: height 0.3s linear;
	overflow: hidden;
	height: 0;
}
.fixed {
	background: rgba(52, 52, 52, 0.95);
}
