.header {
	position: fixed;
	transition: transform 0.3s linear;
	height: var(--header-height);
	@media all and (max-width: 640px) {
		background: var(--black);
	}
}
.header-hidden {
	transform: translateY(-100%);
}
.fixed {
	background: rgba(52, 52, 52, 0.95);
}
